<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="social">
          <ul class="social-share">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>&nbsp;
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>&nbsp;
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>&nbsp;
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>&nbsp;
            <li><a href="#"><i class="fa fa-skype"></i></a></li>&nbsp;
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->
</div>
<!--/.top-bar-->

<footer id="footer" class="midnight-blue">
  <div class="container">
    <div class="row">
      <div >
        &copy; 2019 KnowledgeHub
      
      </div>
      <div class="col-sm-9">
        <ul class="pull-right">
          <!-- <li><a href="#">Home</a></li>-->
          <!-- <li><a href="#">About Us</a></li> -->
          <!-- <li><a href="#">Faq</a></li>  -->
          <li><a (click)="login()">{{adminLogin}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--/#footer-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../../assets/footer/js/jquery.js"></script>
<script src="../../assets/footer/js/bootstrap.min.js"></script>
<script src="../../assets/footer/js/jquery.prettyPhoto.js"></script>
<script src="../../assets/footer/js/jquery.isotope.min.js"></script>
<script src="../../assets/footer/js/wow.min.js"></script>
<script src="../../assets/footer/js/main.js"></script>