<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<head>
 
</head>


<body>
  <div class="row">
    <div class="col-sm-8">
      <h2>PDF result</h2>
      <div *ngFor="let data of object1">
        <div class="card">
          <h5>Domain : {{data.domain}}</h5>
          <p>Concept : {{data.concept}}</p>
          <hr>
          <p style="text-align: justify">{{data.name}}</p>
          <hr>
          <p>Intent Level :{{data.intentLevel}}</p>
          <p>Confidence score :{{data.confidenceScore}}</p>
              <!-- <button type="button" style="width:100px" class="btn btn-info" data-toggle="collapse" (click)="assignVar(data)">Read
                more</button>
              <ul *ngIf="data==var1">
                {{data.domain}}
              </ul> -->
        </div>
      </div>
      <h2>WEB result</h2>
      <div *ngFor="let web of object2">
        <div class="card">
          <h2>Domain : {{web.domain}}</h2>
          <p>Concept : {{web.conceptName}}</p>
          <hr>
          <p style="text-align: justify">{{web.description}}</p>
          <hr>
          <p>Intent Level : {{web.intentLevel}}</p>
          <p>Confidence score : {{web.confidenceScore}}</p>
          <a href={{web.link}} target="_blank">CLICK to read more....!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <h3>Recommendation</h3>
        <div *ngFor="let rec of object3">
          <p>{{rec}}</p>
        </div>
      </div>


      <div class="card">
        <h3>Top Search Concepts</h3>
        <div *ngFor="let nlp of object4">
          <p>{{nlp.concept}}</p>
          <p>{{nlp.frequency}}</p>
        </div>
      </div>

      <div class="card">
        <h3>Top Search Questions</h3>
        <div *ngFor="let searchfreq of object5">
          <p>{{searchfreq.searchString}}</p>
          <p>{{searchfreq.frequency}}
        </div>
      </div>
    </div>
  </div>

</body>

</html>