body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* padding-top:30px; */
    background: url("../../assets/searchjs/img/bg-masthead.jpg") no-repeat center center;
    background: cover;
}
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
  }
  
  header.masthead {
    /* position: relative; */
    /* background-color: #343a40; */
    /* background: url("../../assets/searchjs/img/bg-masthead.jpg") no-repeat center center; */
    background: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  
  header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
  }
  
  header.masthead h1 {
    font-size: 2rem;
  }
  .mic {
    width: 16px;
    height: 25px;
    position:absolute;
    left: 455px;
    top: 10px;
   }
  
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
    
  }
  @media(max-width:768px){
    .mic {
        width: 14px;
        height: 25px;
        position: absolute;
        left: 250px;
        top: 10px;
       }
  }

  #add-button{
    top: auto;
    right: 100px;
    bottom: 200px;
    background-color: rgb(40, 187, 40);
    height: 75px;
    width: 75px;
    left: auto;
    position: fixed;
    font-size: 18px;
  }
  
  
  

  